.cart-empty {
    &__title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
        color: #777777;
        text-align: center;
    }

    &__img {
        display: block;
        margin: 50px auto 0;
    }

    &__btn {
        display: block;
        text-align: center;
        line-height: 46px;
        width: 210px;
        height: 46px;
        background: #282828;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 70px auto 0;

        &:hover {
            color: #fff;
        }

        &:active {
            transform: translateY(2px);
            transition: all 0.2s;
        }
    }
}