.content {
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(280px, 1fr));
        row-gap: 50px;
        column-gap: 15px;
        padding-left: 0;
        margin-bottom: 0;
    }
}

.pagination {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 40px;

    .selected {
        a {
            background-color: #fe5f1e;
            color: #fff;
        }
    }

    li {
        display: inline-block;
        color: #fe5f1e;
        margin-right: 10px;

        &:hover {
            color: #fff;
            border-radius: 30px;
        }

        a {
            text-align: center;
            width: 45px;
            line-height: 42px;
            height: 45px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            display: inline-block;
            color: #fe5f1e;

            &:hover {
                background-color: #fe5f1e;
                color: #fff;
                border-radius: 30px;
            }
        }
    }

    .disabled {
        color: #fff;
        border-radius: 30px;
        background-color: #fe5f1e;

        a {
            color: #fff;
        }
    }
}

.pizza-block {
    display: flex;
    justify-content: center;
    list-style-type: none;

    &__wrapper {
        min-width: 275px;
        height: 459px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 260px;
    }

    &__title {
        font-weight: 800;
        font-size: 19px;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    &__selectors {
        background: #f3f3f3;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &__types {
        display: flex;
        padding: 3px;
        list-style-type: none;
    }

    &__type {
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        flex-grow: 1;
        border-radius: 6px;
        background-color: #f3f3f3;
        padding: 6px 0;
        margin: 3px;

        &_active {
            background: #fff;
        }
    }

    &__type:hover {
        background: #fff;
        transition: all 0.4s;
        cursor: pointer;
    }

    &__size {
        display: flex;
        list-style-type: none;
        padding: 0 3px 3px 3px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-weight: 700;
        font-size: 22px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        color: #eb5a1e;
        min-width: 132px;
        height: 40px;
        background: #fff;
        border: 1px solid #eb5a1e;
        border-radius: 30px;
        outline: none;
    }

    &__btn:active {
        transform: translateY(2px);
    }

    &__btn::before,
    &__btn::after {
        content: "";
        position: absolute;
        left: 15px;
        top: 18px;
        width: 12px;
        height: 3px;
        background: #eb5a1e;
    }

    &__btn::after {
        transform: rotate(-90deg);
    }

    &__btn:hover {
        background: #fe5f1e;
        color: #ffffff;
        transition: all 0.2s;
    }

    &__btn:hover &__count {
        color: #eb5a1e;
        background: #fff;
        transition: all 0.2s;
    }

    &__btn:hover::before,
    &__btn:hover::after {
        background: #fff;
        transition: all 0.2s;
    }

    &__text {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 30px;
    }

    &__count {
        display: none;
        background: #eb5a1e;
        border-radius: 50%;
        margin: 0 6px;
        margin-bottom: 0;
        color: #fff;
        line-height: 20px;
        width: 22px;

        &_active {
            display: block;
        }
    }
}
