.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #F7F7F7;

    &__logo {
        display: flex;

        p {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &__text {
        margin-left: 17px;
    }

    &__title {
        font-weight: 800;
        font-size: 26px;
        text-transform: uppercase;
        color: #181818;
        margin-bottom: 0;
    }

    &__descr {
        color: #7B7B7B;
    }

    &__button {
        display: inline-block;
        width: 150px;
        height: 50px;
        padding: 15px 20px;
        background: #FE5F1E;
        border-radius: 30px;
        text-decoration: none;

        &:hover {
            transition: all 0.2s;
            background: #f05b20;
        }

        &:active {
            transform: translate(0, 3px);
            transition: all 0.15s;
        }

        &_cart {
            display: flex;
        }

        span {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
        }
    }

    &__delimiter {
        width: 1px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.25);
        margin: 0 13px;
    }

    &__search-wrapper {
        position: relative;
    }

    &__search {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 30px;
        padding-left: 40px;
        margin-right: 20px;
        width: 350px;
        border-radius: 10px;
        outline: none;

        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &__search-icon {
        position: absolute;
        width: 22px;
        height: 22px;
        opacity: 0.3;
        left: 15px;
        top: 14px;
    }

    &__search-close {
        position: absolute;
        width: 22px;
        height: 22px;
        opacity: 0.3;
        right: 30px;
        top: 14px;

        &:hover {
            opacity: 0.7;
        }
    }

}