@media (max-width: 1440px) {
    .content {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 1200px) {
    .content {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 1024px) {
    .content {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 992px) {
    .content {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .header {
        &__search {
            width: 300px;
        }
    }
}

@media (max-width: 768px) {
    .content {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .header {
        &__search {
            width: 200px;
        }
    }
}

@media (max-width: 576px) {}