@import 'libs/bootstrap-reboot.min';

body {
    background-color: #FFDF8C;
    font-family: 'Nunito';
}

a {
    text-decoration: none;
}

.wrapper {
    width: calc(100vw - 50px);
    max-width: 1440px;
    border-radius: 10px;
    background-color: #fff;
    margin: 50px auto 0;
    padding: 50px;
}

@import 'blocks/header';
@import 'blocks/navbar';
@import 'blocks/content';
@import 'blocks/cart';
@import 'blocks/cart-empty';
@import 'blocks/media';